{% extends "base.html" %}
{% load static %}

{% block title %}Participant Information &amp; Consent{% endblock title %}

{% block content %}
  {% include "participants/partials/_admin_skip_bar.html" with current_page="consent" %}
  <div class="columns is-centered">
    <div class="column is-8">
      <h1 class="title">Participant Information &amp; Consent</h1>

      <div class="box content mb-5">
        {{ participant.study.consent_html|safe }}
      </div>

      <div id="consent-form-container">
        {% include "participants/partials/_consent_form.html" %}
      </div>
    </div>
  </div>
{% endblock content %}
