{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Post-Study Questions{% endblock title %}
{% block content %}
  {% include "participants/partials/_admin_skip_bar.html" with current_page="post-study" %}
  <div class="columns is-centered">
    <div class="column is-8">
      <h1 class="title">A Few Final Questions</h1>
      <form method="post" action="{% url 'participants:post-study' %}">
        {% csrf_token %}
        <div class="box mb-5">
          <h2 class="subtitle">About the feedback you received</h2>
          {{ manipulation_form|crispy }}
        </div>
        <div class="box mb-5">
          <h2 class="subtitle">About the study</h2>
          {{ demand_form|crispy }}
        </div>
        <div class="field"><div class="control">
          <button type="submit" class="button is-primary is-medium">Continue</button>
        </div></div>
      </form>
    </div>
  </div>
{% endblock content %}